@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Roboto+Mono:wght@400;500;600&family=Roboto:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1 {
  margin-top: 5vh;
}
h3 {
  margin-top: 3vh;
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-size: 1.2rem;
}
.main {
  width: 55%;
  min-height: 150%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.left-part {
  width: 40%;
  background-color: hsl(210, 60%, 48%);
  color: #fff;
}
.profile-img {
  margin-top: 5vh;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.profile-img img {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  object-fit: cover;
}
.name-profession {
  margin-left: 10%;
}
.social-links {
  height: 20vh;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: 10%;
}
.social-link {
  margin-top: 1vh;
  color: #fff;
}
.social-icon {
  font-size: 1.3rem;
  margin-right: 0.5vw;
}
.relevent-skill {
  margin-top: 7vh;
  margin-left: 15%;
}
.relevent-skill ul li {
  margin-top: 1vh;
  font-size: 1.1rem;
}
.right-part {
  width: 60%;
}
.working-experince {
  width: 100%;
  margin-top: 5vh;
  padding: 2vw 0vh 0 3vw;
}
.heading {
  margin-top: 7vh;
  width: 79%;
  height: 7vh;
  background-color: rgb(229, 246, 252);
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 2vw;
  padding-left: 2vw;
}
.internship {
  width: 79%;
  margin-left: 3vw;
}
.internship-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15vw;
}
.internship-icon {
  font-size: 4vw;
  color: hsl(210, 60%, 48%);
}

.internsdhip-details {
  margin-top: 2vh;
}
.projects-content {
  margin-top: 2vh;
  margin-left: 6vw;
}
.projects-content ul li {
  margin-top: 1vh;
  font-size: 1.2rem;
}
.education-history {
  width: 100%;
  margin-top: 5vh;
  padding: 2vw 0vh 0 3vw;
}
.education-icon {
  font-size: 4vw;
  color: hsl(210, 60%, 48%);
}
.education-content-container-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15vw;
}
.education-content {
  width: 70%;
  margin-left: 6vw;
}
.education-content li {
  margin-top: 1vh;
  font-size: 1.2rem;
}
.certification {
  width: 100%;
  margin-top: 5vh;
  padding: 2vw 0vh 0 3vw;
}
.certification {
  width: 100%;
  margin-top: 5vh;
  padding: 2vw 0vh 0 3vw;
}
.certification-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15vw;
}
.certification-icon {
  font-size: 4vw;
  color: hsl(210, 60%, 48%);
}
.certification-content {
  width: 70%;
  margin-left: 6vw;
  margin-bottom: 5vh;
}
.certification-content li {
  margin-top: 1vh;
  font-size: 1.2rem;
}
